accelerate==0.24.1
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
arize-phoenix==1.2.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
authlib==1.2.1
azure-ai-formrecognizer==3.3.2
azure-common==1.1.28
azure-core==1.29.5
backoff==2.2.1
beautifulsoup4==4.12.2
boilerpy3==1.0.7
boto3==1.33.1
botocore==1.33.1
canals==0.11.0
cattrs==23.2.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cohere==4.37
comm==0.2.0
construct==2.5.3
cryptography==41.0.5
cython==0.29.36
ddsketch==2.0.4
debugpy==1.8.0
decorator==5.1.1
distro==1.8.0
docker-pycreds==0.4.0
docopt==0.6.2
events==0.5
executing==2.0.1
faiss-cpu==1.7.4
farm-haystack==1.22.1
fastavro==1.9.0
filelock==3.13.1
frozenlist==1.4.0
fsspec==2023.10.0
gitdb==4.0.11
gitpython==3.1.40
graphql-core==3.2.3
greenlet==3.0.1
grpcio-tools==1.60.0rc1
grpcio==1.60.0rc1
h11==0.14.0
haystack==0.42
hdbscan==0.8.33
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
inflect==7.0.0
ipykernel==6.26.0
ipython==8.17.2
isodate==0.6.1
jedi==0.19.1
jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema-specifications==2023.11.1
jsonschema==4.20.0
jupyter-client==8.6.0
jupyter-core==5.5.0
langdetect==1.0.9
lazy-imports==0.3.1
llvmlite==0.41.1
lxml==4.9.3
markdown-it-py==3.0.0
markdown==3.5.1
markupsafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msrest==0.7.1
multidict==6.0.4
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
num2words==0.5.13
numba==0.58.1
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
openai==0.28.0
packaging==23.2
pandas==2.1.3
parso==0.8.3
pefile==2023.2.7
pexpect==4.8.0
pillow==10.1.0
pip==23.3.1
platformdirs==4.0.0
posthog==3.0.2
prompt-toolkit==3.0.40
prompthub-py==4.0.0
protobuf==4.25.0
psutil==5.9.6
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pycparser==2.21
pydantic-core==2.14.3
pydantic==1.10.13
pygments==2.16.1
pygraphviz==1.11
pynndescent==0.5.11
pypdf==3.17.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
python-frontmatter==1.0.1
python-magic==0.4.27
python-ptrace==0.9.8
pytz==2023.3.post1
pyyaml==6.0.1
pyzmq==25.1.1
quantulum3==0.9.0
rank-bm25==0.2.2
referencing==0.31.0
regex==2023.10.3
requests-cache==0.9.8
requests-oauthlib==1.3.1
requests==2.31.0
rich==13.6.0
rpds-py==0.13.0
s3transfer==0.8.0
safetensors==0.4.0
scikit-learn==1.2.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.35.0
setproctitle==1.3.3
setuptools==65.5.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlalchemy-utils==0.41.1
sqlalchemy==1.4.50
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.32.0.post1
strawberry-graphql==0.208.2
swig==4.1.1.post0
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
tika==2.6.0
tiktoken==0.5.1
tokenizers==0.14.1
torch==2.1.1
torchvision==0.16.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformers==4.34.1
triton==2.1.0
typing-extensions==4.8.0
tzdata==2023.3
umap-learn==0.5.5
url-normalize==1.4.3
urllib3==2.0.7
uvicorn==0.24.0.post1
validators==0.22.0
wandb==0.16.0
wcwidth==0.2.10
weaviate-client==3.25.3
wrapt==1.16.0
yarl==1.9.2
zipp==3.17.0